* {
  color: #cdd6f4;
  border: none;
}

.bg {
  background-color: #1e1e2e;
}

.button-bg {
  background-color: #313244;
}

.button-bg:hover {
  color: #11111b;
  background-color: #a6e3a1;
}

.hidden {
  display: none;
}
